@model user
@{ 
    Layout = "_MyLayout";
}

@section Footer{
<h1>This is Footer</h1>
 }
<ol>
    <li>FullName: @Model.FullName</li>
    <li>UserName: @Model.UserName</li>
    <li>Pssword : @Model.PassWord</li>
</ol>
