<html lang = "en">
<head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <title>Document</title>
       <style>
           #header{
               height: 150px;
               background-color: cornflowerblue;
           }
           #footer {
               height: 150px;
               background-color: lightskyblue;
           }
       </style>


</head>
<body>
    <div id="header">

        <partial name="_DatePartial">
            @RenderSection("Header", required: false);
    </div>

    <div>
        @RenderBody();
    </div>

    <div id="footer">
        @RenderSection("Footer",required: false);
    </div>



</body>
</html>