@{
    ViewData["Title"] = "Home Page";
}
<h2>
    <a href = "/insta/salireza78"> alireza</a>
</h2>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<img src ="Images/index.jfif " />
<h1>@DateTime.Now</h1>
<partial name="_DatePartial">
